#new_item {
  margin: 32px;
  display: grid;
  #new_item_title {
    font-size: 1.5rem;
    margin: 16px;
  }
  form {
    display: grid;
    max-width: 500px;
    * {
      text-transform: capitalize;
    }
    input::placeholder,
    textarea::placeholder,
    select::placeholder {
      text-transform: uppercase;
    }
    input,
    textarea,
    select {
      text-transform: unset;

      margin: 8px;
      height: 42px;
      padding-left: 16px;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      border-radius: 4px;
      // text-align: justify;
    }
    textarea {
      padding-top: 16px;
    }
    .select_container {
      label {
        width: 150px;
      }
      select {
        width: 100px;
      }
    }
  }
}
