.card {
  width: 250px;
  height: 300px;
  margin: 16px;

  display: grid;
  grid-template-rows: 200px 1fr 1fr;

  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  .image_link {
    grid-area: 1/1/1/1;

    .card_image {
      height: 200px;
      width: 250px;
    }
  }
  .card_description {
    margin-left: 10px;
    margin-top: 15px;

    font-size: 18px;
  }
  .card_created_at {
    margin-left: 10px;

    font-size: 14px;
  }

  .card_price {
    grid-area: 1/1/1/1;

    margin: 8px;
  }
}
