.card {
  width: 250px;
  margin: 16px;
  // padding: 16px;
  width: 250px;
  height: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 200px 1fr 1fr;
  .card_image {
    height: 200px;
    width: 250px;
    grid-area: 1/1/1/1;
  }
  .card_price {
    grid-area: 1/1/1/1;
    /* position: relative; */
    margin: 16px;
  }
}
