#sidebar {
  background: grey;
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    list-style-type: none;
    padding-left: 24px;

    li {
      margin: 8px 0px;
      text-transform: capitalize;
    }
  }
  .active {
    background: red;
  }
}
