#login_form {
  justify-self: center;

  width: 80vw;
  max-width: 300px;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  #login_title {
    width: 100%;
    margin: 16px;

    font-size: 1.5rem;
    text-align: center;
  }

  input {
    width: 100%;
    height: 35px;
    margin-top: 10px;

    padding-left: 16px;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 4px;

    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1);

    text-transform: unset;
  }
  input::placeholder {
    text-transform: uppercase;
  }
  button {
    width: 100px;
    height: 32px;
    border: none;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);

    text-transform: uppercase;
  }
}
